body {
    margin: 0;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #111113;
}
  
  .header {
    background-color: #242424;
    padding: 5px;
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #242424;
    overflow: hidden;
    
  }
  
  #navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    width: 22%;
    
  }
  
  #navbar a:hover {
  
    color: #187eac;
  }
  
  #navbar a.active {
    background-color: #242424;
    color: #187eac;
  
      border-bottom: 3px solid #187EAC;
    
  }
  
  .content {
    padding: 10 30px 0 30px;
    max-width: 1050px;
      margin: 0 auto;
      background-color: #111113;
     
      align-content: center;
      box-sizing: border-box;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  .responsive {
      width: 1425px;
      height:500px;
      text-align: center;
    }
  
  .global-title{
    font-size: 50px;
      line-height: 36px;
      margin-bottom: 15px;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: normal;
      padding-bottom: 15px;
      color: white ;
  }
  
  
  .global-intro{
    
    padding-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 40px;
    color: white;
  }
  
  
  .image-tintin-milou{
    
      
      
      margin: 0 auto 40px auto;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 40px;
  }
  
  .description-image{
    color: gray;
    font-size: 15px;
    margin-bottom: 40px;
  }
  
  article .insert{
    display: flex;
      padding: 30px;
      border: 1px solid #E3E3E3;
      background-color: #FCFCFC;
      margin-bottom: 25px;
  }
  *{
      -moz-box-sizing: border-box;
      text-rendering: optimizeLegibility;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      -moz-text-size-adjust: none;
      text-size-adjust: none;
      -webkit-text-size-adjust: none;
  }
  
  
  article .inset .inset-content {
    -webkit-flex-basis: 70%;
    flex-basis: 70%;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
  
  table{
    padding: 10 30px 0 30px;
    max-width: 1050px;
      background-color: #242424;
     
      text-align: left;
      box-sizing: border-box;
  
  
    height: 500px;
  
    font-family: "regular";
    font-size: 20px;
    line-height: 40px;
    margin-bottom: 40px;
  }
  
  .connaissance {
    border-bottom: 1px solid #242424;
    padding: 20px 0;
    border-top: 1px solid #242424;
    color: white;
  }
  
  h2{
      color: white ;
  }

  a{
      color: white;
  }

  th{
      color: white;
  }

  td{
      color: white;
  }